/* Page custom */

body {
    font-family: Arial, sans-serif;
    background-image: url("../assets/bg.jpg") ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 450px;
    width: 325px;
    margin: 0;
}

h1 {
    color: white;
    text-align: center;
    font-family: 'Pacifico', cursive;
    
}

.login-container {
    background-image: url("../assets/bg-container.jpg") ;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 20px white;
    display: flex;
    flex-direction: column;
    width: 200px;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

h2 {
    color : white;
    text-align: center;
    margin-bottom: 10px;
}

input[type="text"], input[type="password"] {
    width: 90%;
    height: 15%;
    padding: 10px;
    margin-bottom: 5%;
    border-radius: 5px;
    border: none;
}

#login-button {
    width: 100%;
    height: inherit;
    color: white;
    font-weight: bold;
    background: linear-gradient(to right, #06B6D4, #3B82F6); /* from-cyan-500 to-blue-500 */
    border-radius: 0.5rem; /* rounded-lg */
    font-size: 0.875rem; /* text-sm */
    font-weight: 500; /* font-medium */
    padding: 10px 10px; /* px-5 py-2.5 */
    text-align: center; /* text-center */
    margin-right: 0.5rem; /* me-2 */
    margin-bottom: 0.5rem; /* mb-2 */
    outline: none; /* focus:outline-none */
    transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    border: none;
    cursor: pointer;
}

#login-button:hover {
    background: linear-gradient(to bottom left, #06B6D4, #3B82F6); /* hover:bg-gradient-to-bl */
}

#login-button:focus {
    box-shadow: 0 0 0 4px rgba(103, 232, 249, 0.5); /* focus:ring-4 focus:ring-cyan-300 */
}

.dark #login-button:focus {
    box-shadow: 0 0 0 4px rgba(14, 116, 144, 0.5); /* dark:focus:ring-cyan-800 */
}

#signup-href:hover {
    color: #06B6D4;
    background-color: rgba(68, 57, 57, 0.5); /* Màu xám nhạt */
    padding: 15px; /* Giúp hiệu ứng rõ ràng hơn */
    border-radius: 10px; /* Làm tròn viền */
    transition: background-color 0.75s ease-in-out;
}